/* navbar */
.tit {
  padding-right: 17rem;
}

/* home */
.home {
  background: black url("IMG_20200226_195306.jpg") no-repeat fixed center;
  background-size: cover;
  text-align: center;
}

.home .intro {
  padding-top: 10%;
  padding-bottom: 14%;
}

.home .intro img {
  width: 15%;
  border-radius: 50%;
  border: 2px white solid;
}

.home .intro .intro-text {
  color: white;
}

.carousel-item h3 {
  color: white;
}

/* about */
.description {
  padding-left: 10%;
  padding-top: 4%;
}

.description h2 {
  line-height: inherit;
  padding-bottom: 2%;
}

.name {
  color: green;
}

.logo {
  text-align: center;
  padding-top: 6%;
  background-color: #f5f6fa;
}

.bu-s {
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.bu-s a {
  color: white;
}

/* skills */
.t-col {
  padding: 2%;
}

/* projects */
.pro {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #2ecc71;
}

/* school */
.school {
  padding-top: 5%;
  padding-bottom: 5%;
  background: black url("IMG_20200206_111424.jpg") no-repeat fixed center;
  background-size: cover;
}

.te-color {
  color: white;
}

/* hobbies */
.hobb {
  padding-bottom: 3%;
}

/* footer */
.footer {
  background-color: black;
  text-align: center;
}

.footer h2 {
  padding: 3%;
  color: #ff3366;
}

.footer a i {
  color: #ff3366;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

/* responsiveness */
@media (max-width:1000px) {
  .home .intro img {
    width: 200px;
    border-radius: 50%;
    border: 2px white solid;
  }
}
